body {
    font-family: 'Microsoft YaHei';
}

table {
    border-collapse: collapse;
    margin: 2em 0 1em 2em;
}

th, td {
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
    font-size: 0.9em;
    padding: 0 1em 0 1em;
}

.group-info {
    margin-bottom: 0.1em;
}

.members {
    margin-top: 0;
}

canvas {
    border: 1px solid #aaa;
    padding: 2em;
    margin: 2em;
}
